<div>
  <label for="grade-name">اسم المرحلة</label>
  <input type="text" id="grade-name" name="name" placeholder="اسم المرحلة" value="<%= grade.name %>">
</div>
<div>
  <label>المكتب</label>
  <select name="office" id="">
    <% offices.forEach(office =>{ %>
      <% if (office.id == grade.office) { %>
        <option selected value="<%= office.id %>">
          <%= office.name %>
        </option>
        <% } else { %>
          <option value="<%= office.id %>">
            <%= office.name %>
          </option>
          <% } %>
            <% }) %>
  </select>
</div>